services:
  tts_server:
    profiles:
      - default
      - full
    restart: unless-stopped  
    image: tts_server:1.0
    container_name: tts_server
    hostname: tts_server
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: "all"
              capabilities: [gpu]
    logging:
      options:
        max-size: "10m"
        max-file: "3"    
    networks:
      logus2k_network:
    ports:
      - "7700:7700"
    volumes:
      - ~/env/assets/tts_server/data:/tts_server/data:ro

networks:
  logus2k_network:
    external: true
