services:

  tts_server:
    profiles:
      - default
      - full
    restart: unless-stopped  
    image: tts_server:1.0
    container_name: tts_server
    hostname: tts_server
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/lib/x86_64-linux-gnu
      - CUDA_HOME=/usr/local/cuda    
    logging:
      options:
        max-size: "10m"
        max-file: "3"    
    networks:
      - pm
    ports:
      - "7700:7700"
    volumes:
      - ~/env/tts_server/data:/tts_server/data:ro

networks:
  pm:
    name: pm-network
    external: true
